nav {
    list-style: none;
    text-decoration: none;
}

.menu{
    background-color: #4CAF50;
    padding: 15px 0 15px 0;
}

.menu__list{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.link{
    color: white;
    padding: 9px 20px;
    background-color: rgba(44, 103, 46, 0.5);
    border-radius: 5px;
    text-decoration: none;
}
.link-is-active{
    color: white;
    padding: 9px 20px;
    background-color: rgba(44, 70, 103, 0.5);
    border-radius: 5px;
    text-decoration: none;
}

.link:hover{
    background-color: rgba(120, 91, 91, 0.61);
}