.metals-background{
    background-image: url('../../../../img/background-metal-card.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container__metal{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-color: white;
}

.container-metals{
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.container__metal-info{
    margin: 0;
    width: 100%;
    text-align: center;
    font-weight: 500;
}